/*QStackedWidget#secondaryStackedWidget {
    background-color: #595959;
}*/

/*QPushButton {
    background-color: transparent;
    width: 47px;
    height: 47px;
    border: none;
    border-radius: 5px;
}*/
/*QPushButton#accountScreenB, QPushButton#backupScreenB, QPushButton#recoverScreenB, QPushButton#settingsScreenB, QPushButton#homeScreenB, QPushButton#historyScreenB {
    background-color: transparent;
    width: 47px;
    height: 47px;
    border: none;
    border-radius: 5px;
}*/
/*QPushButton:hover {
    background-color: #000000;
}

QWidget#sidebarBase {
    background-color: #282828;
}*/
/*Default state*/
* {
    font-family: "Roboto";
}
QWidget, QStackedWidget {
    background-color: #1E1E1E;
}
QPushButton, QComboBox, QTimeEdit {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #282828;
    border-radius: 3px;
    border: none;
    color: white;
}
QDateTimeEdit, QRadioButton, QLabel {
    color: lightgrey;
}
QLineEdit {
    border: 2px solid darkgrey;
    color: white;
}
QCalendarWidget {
    background-color: default;
}

/*Hover state*/
QPushButton:hover, QComboBox:hover, QTimeEdit:hover {
    background-color: #3A3A3A;
}
QLineEdit:hover {
    background-color: #3A3A3A;
}
/*Disabled state*/
QPushButton:disabled, QLineEdit:disabled {
    background-color: #424242;
    color: #7E7E7E;
}
QRadioButton:disabled {
    color: #7E7E7E;
}
/*Checked state*/
