QStackedWidget#secondaryStackedWidget {
    background-color: #595959;
}
QDateTimeEdit, QPushButton, QRadioButton, QLineEdit, QLabel {
    color: lightgrey;
}

QPushButton#accountScreenB, QPushButton#backupScreenB, QPushButton#recoverScreenB, QPushButton#settingsScreenB, QPushButton#homeScreenB, QPushButton#historyScreenB {
    background-color: transparent;
    width: 47px;
    height: 47px;
    border: none;
    border-radius: 5px;
}
/* Hover state */
/*QPushButton#backupScreenB:hover {
    background-color: #ffffff;
}*/
#backupScreenB QPushButton:hover
{
   background-color: #ffffff;
}
